// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
    list-style-type: none;
}

.details {
    background-color: lightgrey;
    margin: 32px;
    padding: 16px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}